/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Body */
body {
  background: linear-gradient(135deg, #121212, #1e1e1e);
  color: #f5f5f5;
  line-height: 1.7;
  padding: 40px 10%;
}

/* Main Title */
h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 30px;
  color: #ff4d4d;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Section Titles */
h2 {
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 1.7rem;
  border-left: 4px solid #ff4d4d;
  padding-left: 10px;
  color: #ffffff;
}

/* Sub Titles */
h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #ffcc00;
  position: relative;
  display: inline-block;
}

/* Clean underline */
h3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: #ff4d4d;
}

/* Images & Videos */
img,
video {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
  border-radius: 12px;

  border: 2px solid #ff4d4d;

  /* Soft professional glow */
  box-shadow: 0 0 12px rgba(255, 77, 77, 10);
}

/* Audio */
audio {
  display: block;
  width: 100%;
  margin: 15px 0 25px 0;
  border-radius: 25px;

  border: 2px solid #ff4d4d;

  /* Subtle glow */
  box-shadow: 0 0 10px rgba(255, 77, 77, 10);
}

/* Paragraph */
p {
  margin: 15px 0 30px 0;
  text-align: justify;
  color: #dcdcdc;
}

/* Highlight */
mark {
  background: #ff4d4d;
  color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: 500;
}

/* Horizontal Line */
hr {
  margin: 50px 0;
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #ff4d4d, transparent);
}

/* Responsive */
@media (max-width: 768px) {
  body {
    padding: 20px;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.3rem;
  }
  b {
    background-color: #ffcc00;
  }
}
.movie_name {
  color: #ee070e;
  text-transform: uppercase;
}
